.logo {
  width: 120px;
  height: auto;
  position: absolute;
  color: white;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay img {
  max-width: 80%; /* Adjust image size as needed */
  max-height: 80%;
  border: 4px solid white;
}
